.card {
    min-width: 25%;
}

.card-wrapper {
  width: 100%;
  height: 100%;
}

.header{
  background-color: #3f3fc6;
  padding: 3em;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  text-align: center;
  color: white;
}

mat-card{
  padding: 0 !important;
}

.content{
  padding: 20px;
}

.form-field {
  width: 100%;
}

@media screen and (max-width: 600px) {
  .card{
    min-width: 30%;
  }

  .actions{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    justify-content: center;
  }
}
