.container {
  padding: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.button-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 70%;
  background-color: rgba(17, 16, 16, 0.5);
}

.background-controls {
  min-width: 73%;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.subtitle {
  color: white;
  padding-top: 1em;
  max-width: 60%;
  text-align: center;
}

@media screen and (max-width: 600px) {
  .subtitle {
    max-width: 100%;
  }

  .background-controls{
    max-width: 70%;
  }

  .button-container {
    max-width: 80%;
  }
}
