<mat-card class="container">
  <img alt="" mat-card-image src="{{this.playlist.coverImage.image}}">
  <mat-card-content class="content">
    <div>
      <mat-card-title>{{this.playlist.nameToShow}}</mat-card-title>
      <mat-card-subtitle>{{this.playlist.artist}}</mat-card-subtitle>
    </div>
    <mat-card-actions class="controls">
      <button mat-icon-button>
        <mat-icon (click)="this.playAudio()"
                  *ngIf="this.audio.paused">play_arrow
        </mat-icon>
        <mat-icon (click)="this.pauseAudio()"
                  *ngIf="!this.audio.paused">pause
        </mat-icon>
      </button>
      <mat-slider (input)="this.onInputChanged($event)" [displayWith]="this.formatLabel" [max]="this.audio.duration"
                  [step]="0.1"
                  [value]="this.currentTimePlayed"
                  class="slider"
                  color="primary"
                  thumbLabel
      ></mat-slider>
      <button (click)="onOpenDialog()" mat-stroked-button>See comments</button>
      <button (click)="this.downloadPlaylist()"
              *ngIf="this.showDownloadButton" class="download-button" mat-mini-fab>
        <mat-icon>download</mat-icon>
      </button>
      <button (click)="this.deletePlaylist()" *ngIf="this.showDelete" mat-stroked-button>Delete</button>
    </mat-card-actions>
  </mat-card-content>
</mat-card>
