<div class="wrap">
  <mat-card class="description">
    <mat-card-title>
      Playlists
    </mat-card-title>
    <mat-card-subtitle>
      If you're not sure how to create your own ambient, listen to playlists others have created!
    </mat-card-subtitle>
  </mat-card>
  <div class="container">
    <app-playlist-card *ngFor="let playlist of this.playlistConfiguration"
                       [playlist]="playlist"
                       [showDownloadButton]="true"
                       (playlistDownloaded)="this.onPlaylistDownload($event);"
                       (playlistDeleted)="this.onDeletePlaylist()"
    ></app-playlist-card>
  </div>
  <div *ngIf="this.showSeeMore" class="extend-content">
    <button matTooltip="See more" mat-fab (click)="this.getPlaylists()" color="primary" class="extend">
      <mat-icon>expand_more</mat-icon>
    </button>
  </div>
</div>
