<div class="wrap">
  <mat-card class="description">
    <mat-card-title>
      Playlists
    </mat-card-title>
    <mat-card-subtitle>
      If you're not sure how to create your own ambient, we've generated some playlists for you!
    </mat-card-subtitle>
  </mat-card>
  <div class="container">
    <app-playlist-card *ngFor="let playlist of this.playlistConfiguration"
                       [playlist]="playlist"
                       [showDownloadButton]="true"
                       (playlistDownloaded)="this.onPlaylistDownload($event);"
    ></app-playlist-card>
  </div>
</div>
