<div class="wrap">
  <app-user-card class="playlist-wrap"></app-user-card>
  <div *ngIf="!(this.playlists.length === 0); else noPlaylists" class="playlist-wrap">
    <mat-card class="container">
      <mat-card-title>Your playlists</mat-card-title>
      <div class="playlist-container">
      <app-playlist-card *ngFor="let playlist of this.playlists"
                         [playlist]="playlist" [showDelete]="true"
                         (playlistDeleted)="this.refreshView();"
      ></app-playlist-card>
      </div>
      <div *ngIf="this.showSeeMore" class="extend-content">
        <button matTooltip="See more" mat-fab (click)="this.getPlaylistsForUser()" color="primary" class="extend">
          <mat-icon>expand_more</mat-icon>
        </button>
      </div>
    </mat-card>
  </div>
  <ng-template #noPlaylists>
    <mat-card class="container">
      <mat-card-title>You haven't created any playlists yet!</mat-card-title>
    </mat-card>
  </ng-template>
</div>
